<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shopping List App</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>


  <div id="shopping-list">
    <h1>{{ header }}</h1>
    <input v-model="header">
  </div>

  <script src="C:\Users\anonymous-legion\Documents\Projects\KandaThings\node_modules\vue\dist\vue.js"></script>
  <script>

    let app = new Vue({
         data : {
          e1 : "#shopping-list",
          header: 'View is ready to party'
        } 
    });
  </script>
</body>

</html>